body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

#movie-details {
  max-width: 1000px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
}

#movie-info {
  display: flex;
}

#movie-info img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

#movie-text {
  margin-left: 20px;
  text-align: justify;
  line-height: 25px;
}

#movie-text h1 {
  margin-top: 0;
}

#movie-rating-genres {
  display: flex;
  flex-direction: column;
}

#movie-rating-genres p {
  margin: 5px 0;
}

#movie-url {
  display: block;
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  background-color: #007bff;
  color: #fff;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
}

#movie-url:hover {
  background-color: #0056b3;
}

/* Responsive CSS menggunakan Media Queries */
@media screen and (max-width: 600px) {
  #movie-info {
    flex-direction: column;
    align-items: center;
  }

  #movie-text {
    margin-left: 0;
    text-align: center;
  }

  #movie-info img {
    width: 100%;
    margin-bottom: 20px;
  }

  #movie-url {
    margin-left: auto;
    margin-right: auto;
  }
}
